<h1>Hair Salon</h1>
<h3><a href='/stylists'>View all stylists</a></h3>
<h3><a href='/clients'>View all clients</a></h3>
<h3><a href='/specialty'>View all specialty</a></h3>
<h3><a href='/stylists/new'>Add a new stylist</a></h3>
